{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock %}
{% block title%} - Equipamentos{% endblock %}
{% block content %}
<h2 class="mb-4">Equipamentos</h2>
<div class="card mb-4">
    <div class="card-body">
        <div class="card-body">
            <div class="table-responsive">
                <table id="assets" class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Unidade</th>
                            <th>Setor</th>
                            <th>Localização</th>
                            <th>Equipamento</th>
                            <th>Fabricante</th>
                            <th>Modelo</th>
                            <th>Nº Série</th>
                            <th>Nº Patrimônio</th>
                            <th>Status</th>
                            <th class="actions">Ações</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block javascript %}
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/assets.js' %}"></script>
    {% endblock %}