{% extends 'base.html' %}
{% load static %}
{% block title%} - Equipamento - Cadastro{% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="row mb-4">
    <h2 class="col text-left mr-1">Equipamento</h2>
    <div class="col text-right ml-1">
        <a id="back" href="#" class="btn btn-icon btn-pill btn-primary" data-toggle='tooltip' title='Voltar'>
            <i class='fa fa-fw fa-arrow-left'></i>
        </a>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header bg-white font-weight-bold">Formulário de Cadastro</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <form id="form" method="POST" action="{% url 'core:asset_edit' form.codigo.value %}">
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label for="{{form.codigo.auto_id}}">{{form.codigo.label}}</label>
                                {% render_field form.codigo disabled=True class="form-control form-sm" placeholder=form.codigo.label %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="{{form.localizacao.auto_id}}">{{form.localizacao.label}}</label>
                                <div class="input-group">
                                    {% render_field form.localizacao class="form-control form-sm" placeholder=form.localizacao.label %}
                                    <div class="input-group-append">
                                        <a class="btn btn-outline-success" data-toggle="tooltip"
                                            title="Cadastrar Unidade" href="#"><i class='fa fa-fw fa-plus'></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="{{form.setor.auto_id}}">{{form.setor.label}}</label>
                                <div class="input-group">
                                    {% render_field form.setor class="form-control form-sm" placeholder=form.setor.label %}
                                    <div class="input-group-append">
                                        <a class="btn btn-outline-success" data-toggle="tooltip" title="Cadastrar Setor"
                                            href="#"><i class='fa fa-fw fa-plus'></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="{{form.grupo.auto_id}}">{{form.grupo.label}}</label>
                                <div class="input-group">
                                    {% render_field form.grupo class="form-control form-sm" placeholder=form.grupo.label %}
                                    <div class="input-group-append">
                                        <a class="btn btn-outline-success" data-toggle="tooltip"
                                            title="Cadastrar Localização" href="#"><i class='fa fa-fw fa-plus'></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="{{form.categoria.auto_id}}">{{form.categoria.label}}</label>
                                <div class="input-group">
                                    {% render_field form.categoria class="form-control form-sm" placeholder=form.categoria.label %}
                                    <div class="input-group-append">
                                        <a class="btn btn-outline-success" data-toggle="tooltip"
                                            title="Cadastrar Categoria" href="#"><i class='fa fa-fw fa-plus'></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="{{form.fabricante.auto_id}}">{{form.fabricante.label}}</label>
                                <div class="input-group">
                                    {% render_field form.fabricante class="form-control form-sm" placeholder=form.fabricante.label %}
                                    <div class="input-group-append">
                                        <a class="btn btn-outline-success" data-toggle="tooltip"
                                            title="Cadastrar Fabricante" href="#"><i class='fa fa-fw fa-plus'></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="{{form.modelo.auto_id}}">{{form.modelo.label}}</label>
                                {% render_field form.modelo class="form-control form-sm" placeholder=form.modelo.label %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="{{form.numero_serie.auto_id}}">{{form.numero_serie.label}}</label>
                                {% render_field form.numero_serie class="form-control form-sm" placeholder=form.numero_serie.label %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="{{form.numero_patrimonio.auto_id}}">{{form.numero_patrimonio.label}}</label>
                                {% render_field form.numero_patrimonio class="form-control form-sm" placeholder=form.numero_patrimonio.label %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="{{form.status.auto_id}}">{{form.status.label}}</label>
                                {% render_field form.status class="form-control form-sm" placeholder=form.status.label %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="{{form.observacoes.auto_id}}">{{form.observacoes.label}}</label>
                                {% render_field form.observacoes class="form-control form-sm" placeholder=form.observacoes.label %}
                            </div>
                        </div>
                        <div class="box-actions">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
                            <button type="button" class="btn btn-primary"><i class="fa fa-clone"></i> Clonar</button>
                            <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Remover</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function () {

        $('#form').submit(function (event) {
            event.preventDefault();
            var form = $('#form');
            $.ajax({
                dataType: "html",
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                beforeSend: function () {
                    console.info("Enviando dados...");
                },
                complete: function () {
                    console.info("Dados enviados!");
                },
                success: function (data, textStatus) {
                    console.info(data + textStatus);
                },
                error: function (xhr, er) {
                    console.error(xhr + er);
                }
            });
        });

        $('#back').click(function (event) {
            event.preventDefault();
            history.back(1);
        });
    });
</script>
{% endblock %}