{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{% endblock %}
{% block title%} - Equipamentos{% endblock %}
{% block content %}
<h2 class="mb-4">Equipamentos</h2>
<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col mt-2 mb-4">
                <button class="btn btn-md btn-success" type="button" data-toggle="modal" data-target="#cadastroModal"><i
                        class="fa fa-plus"></i> Adicionar Item</button>
                <button class="btn btn-md btn-primary" type="button" id="atualizarLista"><i class="fa fa-sync"></i>
                    Atualizar Lista</button>
                <div class="btn-group">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-download"></i> Exportar</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" id="pdf">PDF</a>
                        <a class="dropdown-item" href="#" id="xls">XLS</a>
                        <a class="dropdown-item" href="#" id="csv">CSV</a>
                    </div>
                </div>
                <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#collapseFiltros"
                    aria-expanded="false" aria-controls="collapseFiltros"><i class="fa fa-filter"></i> Filtrar</button>
            </div>
        </div>
        <div id="collapseFiltros" class="row mt-4 mx-md-1 justify-content-center collapse">
            <div class="col shadow py-2 border mb-5">
                <form class="mt-3 px-3" id="filtro">
                    {% csrf_token %}
                    <h5 class="mb-4">Filtrar por</h5>
                    <fieldset>
                        <div class="row align-self-center">
                            <div class="form-group col-xs-3 px-3">
                                <label for="localizacao_filtro" class="control-label"><strong>Unidade</strong></label>
                                <select name="localizacao_filtro" id="localizacao_filtro" class="form-control">
                                    <option value="" selected>Todos</option>
                                    {% if localizacao %}
                                    {% for item in localizacao %}
                                    <option value="{{ item.codigo }}"> {{ item.nome }} </option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group col-xs-3 px-3">
                                <label for="setor_filtro" class="label-control"><strong>Setor</strong></label>
                                <select name="setor_filtro" id="setor_filtro" class="form-control">
                                    <option value="" selected>Todos</option>
                                    {% if setor %}
                                    {% for item in setor %}
                                    <option value="{{ item.codigo }}"> {{ item.nome }} </option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group col-xs-3 px-3">
                                <label for="grupo_filtro" class="label-control"><strong>Localização</strong></label>
                                <select name="grupo_filtro" id="grupo_filtro" class="form-control">
                                    <option value="" selected>Todos</option>
                                    {% if grupo %}
                                    {% for item in grupo %}
                                    <option value="{{ item.codigo }}"> {{ item.nome }} </option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group col-xs-3 px-3">
                                <label for="categoria_filtro" class="label-control"><strong>Equipamento</strong></label>
                                <select name="categoria_filtro" id="categoria_filtro" class="form-control">
                                    <option value="" selected>Todos</option>
                                    {% if categoria %}
                                    {% for item in categoria %}
                                    <option value="{{ item.codigo }}"> {{ item.nome }} </option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group col-xs-3 px-3">
                                <label for="fabricante_filtro" class="label-control"><strong>Fabricante</strong></label>
                                <select name="fabricante_filtro" id="fabricante_filtro" class="form-control">
                                    <option value="" selected>Todos</option>
                                    {% if fabricante %}
                                    {% for item in fabricante %}
                                    <option value="{{ item.codigo }}"> {{ item.nome }} </option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group col-xs-3 px-3">
                                <label for="status_filtro" class="label-control"><strong>Status</strong></label>
                                <select name="status_filtro" id="status_filtro" class="form-control">
                                    <option value="" selected>Todos</option>
                                    <option value="0">Armazenado</option>
                                    <option value="1">Alocado</option>
                                    <option value="2">Descartado</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-md-3 align-self-end">
                                <button class="btn btn-md px-3 btn-secondary" type="submit">Filtrar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table id="assets" class="table table-hover display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th data-priority="1">Unidade</th>
                            <th>Setor</th>
                            <th>Localização</th>
                            <th data-priority="2">Equipamento</th>
                            <th>Fabricante</th>
                            <th>Modelo</th>
                            <th>Nº Série</th>
                            <th>Nº Patrimônio</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Cadastro Modal -->
<div class="modal fade" id="cadastroModal" role="dialog" aria-labelledby="cadastroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cadastroModalLabel"><i class="fa fa-plus"></i> Equipamento / Novo Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col px-3 my-2">
                        <div id="cadastroFormResult"></div>
                        <form action="{% url 'core:asset_register_ajax' %}" method="post" id="cadastroForm">
                            <fieldset class="px-3">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label for="{{form.localizacao.auto_id}}">{{form.localizacao.label}}</label>
                                        {% render_field form.localizacao data-live-search="true" data-style="btn-outline-secondary" class="selectpicker form-control" placeholder=form.localizacao.label %}
                                        <p id="{{form.localizacao.name}}"></p>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="{{form.setor.auto_id}}">{{form.setor.label}}</label>
                                        {% render_field form.setor data-live-search="true" data-style="btn-outline-secondary" class="selectpicker form-control" placeholder=form.setor.label %}
                                        <div id="{{form.setor.name}}"></div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="{{form.grupo.auto_id}}">{{form.grupo.label}}</label>
                                        {% render_field form.grupo data-live-search="true" data-style="btn-outline-secondary" class="selectpicker form-control" placeholder=form.grupo.label %}
                                        <div id="{{form.grupo.name}}"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label for="{{form.categoria.auto_id}}">{{form.categoria.label}}</label>
                                        {% render_field form.categoria data-live-search="true" data-style="btn-outline-secondary" class="selectpicker form-control" placeholder=form.categoria.label %}
                                        <div id="{{form.categoria.name}}"></div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="{{form.fabricante.auto_id}}">{{form.fabricante.label}}</label>
                                        {% render_field form.fabricante data-live-search="true" data-style="btn-outline-secondary" class="selectpicker form-control" placeholder=form.fabricante.label %}
                                        <div id="{{form.fabricante.name}}"></div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="{{form.status.auto_id}}">{{form.status.label}}</label>
                                        {% render_field form.status data-live-search="true" data-style="btn-outline-secondary" class="selectpicker form-control" placeholder=form.status.label %}
                                        <div id="{{form.status.name}}"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label for="{{form.numero_serie.auto_id}}">{{form.numero_serie.label}}</label>
                                        {% render_field form.numero_serie class="form-control border-secondary" placeholder=form.numero_serie.label %}
                                        <div id="{{form.localizacao.name}}"></div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label
                                            for="{{form.numero_patrimonio.auto_id}}">{{form.numero_patrimonio.label}}</label>
                                        {% render_field form.numero_patrimonio class="form-control border-secondary" placeholder=form.numero_patrimonio.label %}
                                        <div id="{{form.localizacao.name}}"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="{{form.observacoes.auto_id}}">{{form.observacoes.label}}</label>
                                        {% render_field form.observacoes class="form-control border-secondary" placeholder=form.observacoes.label %}
                                        <div id="{{form.localizacao.name}}"></div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>
                    Cancelar</button>
                <button id="cadastroSalvar" type="button" class="btn btn-success"><i class="fa fa-save"></i>
                    Salvar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/assets.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script>

    $(document).ready(function () {

        var table = getData();

        $("#filtro").submit(function (event) {
            event.preventDefault();
            table.ajax.reload();
        });

        $("#pdf").click(function () {
            alert("PDF não implementado.");
        });

        $("#xls").click(function () {
            alert("XLS não implementado.");
        });

        $("#csv").click(function () {
            alert("CSV não implementado.");
        });

        $('#cadastroModal').on('hidden.bs.modal', function () {
            formCadastroLimpar();
        });

        $("#cadastroSalvar").click(function () {
            cadastroSalvar();
        });

        $("#atualizarLista").click(function () {
            table.ajax.reload();
        });

        $("#{{form.localizacao.auto_id}}").change(function () {
            $("#{{form.localizacao.name}}").html("");
        });
        $("#{{form.categoria.auto_id}}").change(function () {
            $("#{{form.categoria.name}}").html("");
        });
        $("#{{form.status.auto_id}}").change(function () {
            $("#{{form.status.name}}").html("");
        });
    });

</script>
{% endblock %}