{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootadmin.min.css' %}">

    <title>{% block title %}Asset Manager - Entrar{% endblock %}</title>
</head>

<body class="bg-light">

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            {% if form.non_field_errors %}
            <div class="col-md-12">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="alert alert-danger alert-dismissible text-center" role="alert">
                            <ul class='list-unstyled p-0 m-0'>
                                {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-md-4">
                <h1 class="text-center mb-4">Asset Manager</h1>
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'core:login' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.GET.next }}">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                {% render_field form.username class="form-control" placeholder=form.username.label %}
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                </div>
                                {% render_field form.password class="form-control" placeholder=form.password.label %}
                            </div>

                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    <input type="checkbox" name="remember" class="form-check-input">
                                    Mantenha-me conectado
                                </label>
                            </div>

                            <div class="row">
                                <div class="col pr-2">
                                    <button type="submit" class="btn btn-block btn-primary">Entrar</button>
                                </div>
                                <div class="col pl-2">
                                    <a class="btn btn-block btn-link" href="#">Recuperar senha</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/bootadmin.min.js' %}"></script>
</body>

</html>